	body {

			font-family: Mohave;

			margin: 0px;

			padding: 0px;

			background: rgb(75, 71, 71);

		}	

		body, p {

			margin: 0px;

			padding: 0px;

		}





		#container1 {

			background-image: url('stardust.png');

			width: 100%;

			height:100%;

			position:absolute;

			z-index: 1;

			

			overflow: hidden;

		} 

		#tekst {

			color: white;

			position: relative;

			font-size: 15px;

			padding: 10px;

			opacity: 1;

		}

		@font-face {

    		 font-family: MohaveBold;

    		 src: url('Mohave-Bold.otf'); 

			}

		@font-face {

    		 font-family: Mohave;

    		 src: url('Mohave.otf'); 

			}

		@font-face {

		 font-family: myraid;

		 src: url('MYRIADPRO-REGULAR.OTF'); 

		}



		#container2 {

			width: 0%;



			height:100%;

			position:absolute;

			z-index: 2;

			background-color: none;

			overflow: hidden;

		} 	

		#container3 {

			width: 0%;

			height:100%;

			position:absolute;

			z-index: 3;

			background:none;

			

			float: right;

			overflow: hidden;

			opacity: 1;

		} 

		#container4 {





			width: 0%;/*ovde vrati width na 0%*/

			height:100%;

			position:absolute;

			z-index: 54;

			overflow: hidden;

			

			

			opacity: 1;

		} 



		#container5 {

			width: 0%;

			height: 100%;

			position:absolute;

			background: transparent;

			z-index: 5;

			overflow: hidden;

		}

		#button1 {

			position: relative;

			width: 15px;

			height: 30px;

			

			color: #879DA8;

			z-index: 1;

			margin-left: 49px;

			top: -76px;

			font-size: 30px;

			opacity: 0;

			



		}

		#button1:hover {

			cursor: pointer;



		}

		#button2 {

			position: relative;

			width: 100px;

			height: 30px;

			background-color: white;

			color: gray;

			z-index: 2;

			left: 100px;

			top: 300px;



		}

		#button3 {

			position: relative;

			width: 100px;

			height: 30px;

			background-color: white;

			color: gray;

			z-index: 3;

			left: 220px;

			top: 100px;



		}

		#button4 {

			position: relative;

			width: 100px;

			height: 30px;

			background-color: white;

			color: gray;

			z-index: 4;

			left: 300px;

			top: 200px;



		}

		#button:hover {

			cursor: pointer;

		}

		#naslov, #text {

			margin: 0px;

			top: -90px;

			

			position: relative;

			opacity: 0;

			text-align: center;

		}

		@-webkit-keyframes tocak /*--for webkit--*/{

			0% 	{ -webkit-transform: rotate(0deg);

					}

    	

    		100%{ -webkit-transform: rotate(1460deg);}                       



		}

		#pozadina {

			position: relative;

			top: -100px;

			left: 20px;



		}

		#tocak {

			z-index: 20;

			border-radius: 100px;

			width: 100px;

			height: 100px;

			margin-left: auto;

			margin-right: auto;

			margin-top: 30px;

			border:5px dashed #ffbb3f;

			opacity: 0;

			position: relative;

			-webkit-animation: tocak 5s forwards;

        	animation:tocak 5s;

        	top:-90px;

        	

        	-webkit-transition:all 0.7s;

			transition:all 0.7s;

        

		}

		#tocak_poz	{

			top: -320px;

			left: 437px;

			position: relative;

			border-radius: 200px;

			z-index: 10;

			opacity: 0;



		}

		.tocak {

			width: 100px;

			height: 100px;

			border:5px dashed #ffbb3f;

			background: #ffbb3f;

		}

		#tocak:hover {

			cursor: pointer;

			background-color: #ffbb3f;

		}

		#tocak:active {

			background-color: gray;

		}

		#static {



			position: relative;

			opacity:0;

			color: white;

		}

		#drzac {

			margin:0 auto;

			width: 110px;

			height: 110px;

		}

		@-webkit-keyframes krugrotate{



			0% {

				-webkit-transform:rotate(0deg);

				left:-500px;

				



				 	}

			20% {

				

			}

			70%	{

				

			}

			100% {-webkit-transform:rotate(360deg);

				left:552px;

				



			}



		}

		@-webkit-keyframes krugr{



			from {

				-webkit-transform:rotate(0deg);

				background-color: #49565C;



					}

		

			to {-webkit-transform:rotate(360deg);

				background-color: #49565C;

				

			}



		}





		#kocka {



			

			width: 100%;

			height: 60%;

			position: absolute;

			margin-left:auto;

			margin-right: auto;

			top: 100px;

			



		}

		#krug {

			

			

			top: 240px;

			position: relative;

			height: 260px;

			width: 260px;

			border-radius: 400px;

			border:15px dashed #00909a;

			left: -500px;

			-webkit-transition:all 2s;

			-webkit-transition:color 5s;

			transition:all 2s;

			display: block;

			z-index: 5;

		}

		#krug1 {

			left: 489px;

			width: 36px;

			height: 36px;

			top: 306px;

			background-color: #ffbb3f;

			position: relative;

			border-radius: 400px;

			-webkit-transition: all 2s;

			-webkit-transition: color 5s;

			transition: all 2s;

			display: block;

			z-index: 5;

			opacity: 0;

		}

		#krug:hover {

			

			cursor: pointer;

			color:#00909a;

		}

		@-webkit-keyframes devedeset {

			0%{-webkit-transform:rotate(0deg);}

			25%{	-webkit-transform:rotate(72deg);}

			100%{	-webkit-transform:rotate(72deg);}

		}

		

		#hi {

			margin-top: 110;

			text-align: center;

			position: relative;

			color: #00909a;

			display: block;

		}

		#hi:hover->#krug {

			background-color: #49565C; 

		}

		#prvi, #drugi, #treci, #cetvrti, #peti, #sesti {

			opacity: 0;



		}

		#sesti:hover {

			cursor: pointer;

		}

		#linijah {

			background-color: #00909a;

			height: 2px;

			position: absolute;

			top: 200px;

			left: 200px;

			width: 400px;

			opacity: 0;

		}

		#jagoda {

			position: relative;

			margin-left: auto;

			margin-right: auto;

			width: 100px;

			height: 100px;

			top: -114;

			color: #00909a;

			opacity: 0;

		}

		#sredina {

			width: 100%;

			height: 30%;

			top: 200px;

			position: relative;



		}

		#levo {

			width: 40%;

			height: 50%;

			float: left;

			

		}

		#desno {

			width: 50%;

			height: 50%;

			float: left;

		}



		

		@-webkit-keyframes rotor{



			from {-webkit-transform:rotate(0deg);}

			to {-webkit-transform:rotate(360deg);}

		}

		@-webkit-keyframes rotora{



			from {-webkit-transform:rotate(0deg);}

			to {-webkit-transform:rotate(-720deg);}

		}

		#okretalica, #okretalica1, #okretalica2, #okretalica3, #okretalica4	{

			left: 487px;

			width: 40px;

			height: 40px;

			top: 305px;

			background-color: none;

			position: absolute;

			-webkit-transition: all 2s;

			-webkit-transition: color 5s;

			transition: all 2s;

			display: block;

			z-index: 5;

			transition:opacity  2s;

			

		}

		



		#javascript, #front1, #php, #mysql, #html{

			position: relative;

			

			width: 13.5px;

			height: 13.5px;

			border-radius: 50px;

			

			

		}

		#javascript {

			

			-webkit-animation: rotor 1.5s infinite linear forwards;

			opacity: 0;

			background-color: #DA4E43;

			left: 177px;

			top: 14px;



		}

		#front1 {

			left: 188px;

			top: 1px;

			-webkit-animation: rotor 3s infinite linear forwards;

			

			

		}

		#php {

		

			left: 240px;

			top: 14px;

			opacity: 0;

			background-color: #367718;

		}

		#mysql {

		

			left: 302px;

			top: 15px;

			opacity: 0;

			background-color: #2797B3;

		}

		#html {

			

			left: 72px;

			top: 14px;

			opacity: 0;

			background-color: rgb(255, 133, 0);

		}

		#css {

			position: relative;

			left: 122px;

			top: 12px;

			width: 18px;

			height: 18px;

			border-radius: 50px;

			background-color: #714981;

			-webkit-animation: rotor 1s infinite linear forwards;

			opacity: 0;



		}

		#jquery {

			position: relative;

			right: 19px;

			width: 5px;

			height: 5px;

			border-radius: 50px;

			background-color: #616B74;

			opacity: 0;

			top: 5px;

			-webkit-animation-timing-function: ease-in;



		}



		@-webkit-keyframes odleti {



			15%{	top:146px; -webkit-animation-timing-function:ease-out; }

			30%{	top:-34px; -webkit-animation-timing-function:ease-in;-webkit-transform:rotate(16deg);}

			45%{	top:146px; -webkit-animation-timing-function:ease-out;}

			60%{	top:66px; -webkit-animation-timing-function:ease-in;}

			75%{	top:146px; -webkit-animation-timing-function:ease-out;-webkit-transform:rotate(16deg);}

			90%{	top:116px; -webkit-animation-timing-function:ease-in;}

			100%{	top:146px; -webkit-animation-timing-function:ease-out;-webkit-transform:rotate(16deg);}



		}

		#angular {

			position: relative;

			right: 36px;

			width: 4px;

			height: 4px;

			border-radius: 50px;

			background-color: white;

			opacity: 0;

		}

		#bootstrap {

			position: relative;

			right: 18px;

			width: 4px;

			height: 4px;

			top:7px;

			border-radius: 50px;

			background-color: lightgreen;

			opacity: 0;

			



		}

		#legenda {

			color: white;

			opacity: 1;

			padding-left: 20px;

			position: absolute;

			top: 100px;

			padding-right: 20px;



		}

		#legenda p {

			font-size: 18px;

			margin: 8px 0px;

		}

		#legenda h1 {

			font-size: 26px;

			margin: 14px 0px;

			/* margin-top: 70px; */

			background-color: rgba(202, 128, 128, 0);

			color:rgba(167, 123, 130, 1);

		}

		#ht:hover {

			cursor: pointer;

		}

		#legenda p:hover {

			cursor: pointer;

		}

		.senkal {

			border-radius: 100px;

			width: 100px;

			height: 100px;

			z-index: 12;

			margin-top: 30px;

			border:5px dashed gray;

			opacity: 0;

			position: relative;

			top:-38px;

        	left: 0px;

			-webkit-transition:all 0.7s;

			transition:all 0.7s;	

		}

		.senkad {

			border-radius: 100px;

			width: 100px;

			height: 100px;

			z-index: 2;

			margin-top: 30px;

			border:5px dashed gray;

			opacity: 0;

			position: relative;

			top:-178px;

        	left: 0px;

			-webkit-transition:all 0.7s;

			transition:all 0.7s;	

		}

		#senkal:hover {

			background-color: rgb(114, 77, 106);

			cursor: pointer; 	

		}



		#senkad:hover {

			background-color: rgb(116, 111, 117);

			cursor: pointer;

					}

		@-webkit-keyframes okretlevo {



			36% {	left:0px; -webkit-transform:rotate(0deg);	opacity: 0;}

			100% {left:-300px;	-webkit-transform:rotate(-180deg);	opacity: 1; border-color:rgb(114, 77, 106);}

		}

		@-webkit-keyframes okretdesno {



			60% {	left:0px; -webkit-transform:rotate(0deg);	opacity: 0}

			100% {left:300px;	-webkit-transform:rotate(180deg);	opacity: 1; border-color:rgb(116, 111, 117);}

		}

		#arrow {

			position: relative;

			top: -46px;

			left: 46px;

			opacity: 0;



		}

		#naslovi {

			position: relative;

			height: 100px;

			padding-top: 76px;

			width: 100%;

			opacity: 1;

			top: 0px;

			left: 20px;

			color: white;

			



		}

		#about {

			float: left;

			position: relative;

			left: 188px;

			top: 4px;

			width: 59;

			padding: 2px;

			background:rgb(56, 27, 51);

			display: block;

			opacity: 0;

			z-index: 29;



			}

		#about:hover, #skills:hover, #portfolio:hover {

			cursor: pointer;

		}

		#skills {

			background:rgb(65, 37, 35);

			float: left;

			display: block;

			left: 430px;

			z-index: 22;

			top: 4px;

			width: 58px;

			position: relative;

			padding: 2px;

			opacity: 0;

		}

		#portfolio {

			float: left;

			background:rgb(87, 38, 38);

			position: relative;

			left: 670px;

			display: block;

			top: 4px;

			z-index: 19;

			padding: 2px;

			opacity: 0;

			

			width: 58px;

		}

		#senkal {

			

		}

		#senkal_poz {

			position: relative;

			opacity: 0;

			top: -71px;

			left: 137px;

			z-index: -100;

			background: rgb(114, 77, 106); 

			border:5px dashed rgb(114, 77, 106);



		}

		#gorela {

			background-color: rgba(9, 9, 9, 0.45);

			width: 25%;

			right:-100px;

			height: 41px;

			padding-top: 5px;

			padding-bottom: 5px;

			position: absolute;

			top:-100px;

			border-bottom-left-radius: 8px;

			border-top-left-radius: 8px;

			



		}

		#gorela1 {

			background-color: rgba(9, 9, 9, 0.45);

			width: 16%;

			right: 0px;

			height: 40px;

			padding-top: 5px;

			padding-bottom: 5px;

			position: absolute;

			top:-100px;

			border-bottom-left-radius: 8px;

			border-top-left-radius: 8px;

			



		}

		#gorela2 {

			background-color: rgba(9, 9, 9, 0.45);

			width: 16%;

			right: 0px;

			height: 40px;

			padding-top: 5px;

			padding-bottom: 5px;

			position: absolute;

			top:-100px;

			border-bottom-left-radius: 8px;

			border-top-left-radius: 8px;

			



		}

		

		#izazov {

			padding-left: 15px;

			font-size: 17px;

			color: white;

			width: 100%;

			height: 20px;

			margin-top: 4px;



		}

		#zekanje {

			padding-left: 15px;

			font-size: 11px;

			

			

			color:rgb(114, 77, 106);

			width: 100%;

			height: 13px;

		}

		#prostorela {

			width: 100%;

			height:60%;

			position: relative;

			-webkit-perspective:700px;

			



		}

		#kockela {

			width: 200px;

			height: 300px;

			position: relative;

			opacity: 1;

			-webkit-transform-style: preserve-3d;

			-webkit-transition: all 2s;

			top: 150px;

			left: 100px;

			-webkit-transform: translatey(-599px)rotatey(50deg)rotatex(0deg);

		}

		.stranila {

			width: 196px;

			height: 272px;

			background:#282A2E;

			border: 2px solid rgb(70, 67, 67);

			position: absolute;



		}

		#stranela1 {

			-webkit-transform:translatez(100px);

			background: linear-gradient(to left, rgb(114, 77, 106),rgb(90, 62, 84));

			height: 48px;



		}

		#stranela2 {

			-webkit-transform:translatez(-100px);

			

		}

		#stranela3 {

			-webkit-transform:translatex(100px)rotatey(90deg);

			

		}

		#stranela4 {

			-webkit-transform: translate3d(-100px ,0 ,0) rotatey(90deg);

			background:linear-gradient(to top left,rgb(0, 0, 0),rgba(42, 37, 37, 1));
			z-index: 99;

			

		}

		#stranela5 {

			-webkit-transform:translatey(150px)rotatex(90deg);

			height: 194px;

		}

		#stranela6 {

			-webkit-transform:translatey(-98px)rotatex(90deg);

			height: 194px;

		}

		.opcije {

			margin-left: 20px;

			margin-right: 20px;

			margin-top: 16px;

			padding-top: 2px;

			padding-bottom: 2px;

			width: 160px;

			height: 20px;

			color: #808281;

			background-color: white;

			text-align: center;

		}

		.opcije:hover {

			background-color: darkgray;

			color: black;

			cursor: pointer;

		}

		#bio {

			

		}

		#grmila {

			width: 100%;

			

			height: 45px;

			color: white;

			background: linear-gradient(to right,#1D1E20 ,#2D2E30);

		}

		#gornj	{

			padding-top: 8px;

			padding-left: 5px;

		}

		#donj	{

			padding-top: 3px;

			padding-left: 5px;

			color:#808281;

			font-size: 8px;

		}

		#panela {

			background-color: rgba(22, 10, 10, 0.83);

			width: 40%;

			height: 200vh;

			margin-top: 64px;

			border-top: 1px solid rgb(51, 43, 43);

			position: relative;

			 top: -420px; 

			z-index: -20;

			left:-420px;

		}

		#smorela {

			height: 268px;

			position: relative;

			width: 400px;

			left: 475px;

			top: -437px;

			z-index: -1;

			background-color: #41434A;

			opacity: 0.7;

			border: 2px solid silver;



		}

		#fiokica1 {

			position: relative;

			-webkit-transform-style:preserve-3d;

			

			width: 200px;

			-webkit-transform:translatez(108px) translatey(58px);

			-webkit-transition:all 1.5s;

			height: 48px;

			opacity: 1;

		}

		#fiokica2 {

			position: relative;

			-webkit-transform-style:preserve-3d;

			

			width: 200px;

			-webkit-transform:translatez(108px) translatey(67px);

			-webkit-transition:all 1.5s;

			height: 48px;

			opacity: 1;

		}

		#fiokica3 {

			position: relative;

			-webkit-transform-style:preserve-3d;

			-webkit-transition:all 1.5s;

			width: 200px;

			-webkit-transform:translatez(108px) translatey(75px);

			

			height: 48px;

			opacity: 1;

		}

		#fiokica4 {

			position: relative;

			-webkit-transform-style:preserve-3d;

			-webkit-transition:all 1.5s;

			width: 200px;

			-webkit-transform:translatez(108px) translatey(83px);

			

			height: 48px;

			opacity: 1;

		}

		#pred_strana {

			position: absolute;

			width: 196px;

			height: 54px;

			border: 1px solid rgb(70, 67, 67);

			background:linear-gradient(to left, rgb(114, 77, 106),rgb(90, 62, 84));

			-webkit-transform:translate3d(0px, -6px, 0px);

		}

		#blokada, #blokada2 , #blokada3 , #blokada4 {

			position: absolute;

			width: 196px;

			height: 54px;

			border: 1px solid rgb(70, 67, 67);

			background:transparent;

			opacity: 0;

			-webkit-transform:translatez(0px)translatey(-6px);

		}

		#pred_strana2 {

			position: absolute;

			width: 196px;

			height: 54px;

			border: 1px solid rgb(70, 67, 67);

			background: black;

			-webkit-transform:translatey(-6px) translatez(-10px);

		}

		#debljina_gore {

			position: absolute;

			width: 196px;

			height: 8px;

			-webkit-transform:translatez(-5px)translatey(-11px)rotatex(90deg);

			border: 1px solid rgb(70, 67, 67);

			background: black;

		}

		#debljina_levo {

			position: absolute;

			width: 8px;

			height: 54px;

			-webkit-transform:translatez(-5px)translatex(-5px)translatey(-6px)rotatey(90deg);

			border: 1px solid rgb(70, 67, 67);

			background: #282A2E;

		}



		#lev_strana {

			position: absolute;

			width: 196px;

			border: 1px solid rgb(70, 67, 67);

			height: 48px;

			-webkit-transform:translatez(-100px) translatex(-98px)rotatey(90deg);

			background: #282A2E;

		}

		#lev_strana2 {

			position: absolute;

			width: 196px;

			border: 1px solid rgb(70, 67, 67);

			height: 48px;

			-webkit-transform:translatez(-100px) translatex(-92px)rotatey(90deg);

			background: black;

		}

		#desn_strana {

			position: absolute;

			width: 196px;

			border: 1px solid rgb(70, 67, 67);

			height: 48px;

			-webkit-transform:translatez(-100px) translatex(98px)rotatey(90deg);

			background: black;

		}

		#desn_strana2 {

			position: absolute;

			width: 196px;

			border: 1px solid rgb(70, 67, 67);

			height: 48px;

			-webkit-transform:translatez(-100px) translatex(88px)rotatey(90deg);

			background: black;

		}

		#zad_strana {

			position: absolute;

			width: 196px;

			border: 1px solid rgb(70, 67, 67);

			height: 48px;

			-webkit-transform:translatez(-200px);

			background: black;

		}

		#zad_strana2 {

			position: absolute;

			width: 196px;

			border: 1px solid rgb(70, 67, 67);

			height: 48px;

			-webkit-transform:translatez(-190px);

			background: black;

		}

		#dno	{

			position: absolute;

			width: 196px;

			border: 1px solid rgb(70, 67, 67);

			height: 196px;

			-webkit-transform:translatey(-50px)translatez(-100px)rotatex(90deg);

			background: #282A2E;

		}

		#papir1 {

			

			-webkit-transform:translatez(-20px)translatex(24px);

		} 

		#papir2, #papir2a, #papir2b ,#papir2c ,#papir2d  {

			

			-webkit-transform:translatez(-50px)translatex(24px);

		} 



		#papir3 {

			

			-webkit-transform:translatez(-80px)translatex(24px);

		} 

		#papir4 {

			

			-webkit-transform:translatez(-110px)translatex(24px);

		} 

		#papir5 {

			

			-webkit-transform:translatez(-140px)translatex(24px);

		} 

		#papir6 {

			

			-webkit-transform:translatez(-170px)translatex(24px);

		} 



		.papir {

			position: absolute;

			width: 150px;

			height: 48px;

			background: white;

			overflow: hidden;

			border: 1px solid gray;

			-webkit-transition:all 1s;

			

		} 

		.slova {

			color: rgb(42, 28, 53);

			width: 100%;

			height: 100%;

		}

		.slova:hover {

			color: gray;

			cursor: pointer;

		}

		#wrapper, #wrapper2, #wrapper3, #wrapper4{

			margin: 10px 20px;

			padding: 0px;

			background: transparent;

			font-family: myraid;

			height: 480px;/*promeni*/

			width: 410px; /*promeni*/

			opacity: 0;

			transition:all 1s;



	

		}

		#wrapper3 {

			margin: 15px 20px;

		}

		#wrapper4 img {

			width: 200px;

			left: -48px;

			position: relative;

		}

		.ime {

			color: black;

			font-size: 30px;

			width: 100%;

			height: 36px;

			

			float: left;



		}

		#sl {

			background: gray;

			color: black;



		}

		.bio {

			color: black;

			font-size: 20px;

			float: left;

			width: 100%;

		}

		.linija {

			background: gray;

			width: 100%;

			height:15px;

			float: left;

		}

		.linija1 {

			background: gray;

			width: 86%;

			height:15px;

			float: left;

		}

		.slikar	{

			float: left;

			margin: 5px 0px;

			border: 1px solid rgb(85, 81, 81);

			width: 150px;

			height: 150px;

			padding: 3px;

		}

		.infor 	{

			float: left;

			width: 240px;

			height: 150px;

			margin: 6px;

			

			

		}

		.infor ul {

			list-style-type: none;

			font-size: 17px;

			margin: 0px;

			padding: 0px;

			margin-top: 10px;

			margin-left: 10px;



		}

		.uinf_lev {

			float: left;

			width: 54px;

			height: 100px;

			

		}

		#pinf_lev {

			float: left;

			width: 80px;

			height: 100px;

			margin-left:0px;

			

		}

		#pinf_des {

			float: left;

			width: 160px;

			height: 100px;

			margin-left: 0px;

		}

		.uinf_des {

			float: left;

			width: 160px;

			height: 100px;

		}

		.inf_lev	{

			padding-bottom: 8px;

			height: 20px;



		}

		.inf_des	{

			padding-bottom: 8px;



		}

		.aboutme {

			float: left;

			font-size: 17px;

			margin-bottom: 8px;



		}

		.ab_banner	{

			height: 20px;

			width: 70px;

			float: left;

			font-weight: bold;

			margin-top: 3px;

		}

		#spec_okret {

			height: 4px;

			width: 4px;

			background-color: none;

			border-radius: 14px;

			position: relative;

			top: -455px;

			left: 47px;

		}

		#spec_lopt {

			height: 4px;

			width: 4px;

			background-color: white;

			border-radius: 14px;

			position: relative;

			top: -31px;

			left: 10px;

			opacity: 0;

		}



		@-webkit-keyframes evolucija {

			from {	-webkit-transform:rotate(0deg);}

			to {	-webkit-transform:rotate(360deg);}

		}	

		.okvir {

			width: 150px;

			height: 150px;

			overflow: hidden;

		}

		#maska {

			background: linear-gradient(to left,rgb(255, 54, 3),rgb(51, 6, 60));

			position: absolute;

			width: 100%;

			height:100%;

			opacity: 0.4;



		}

		#maska2 {

			background: linear-gradient(to top,rgb(0, 0, 0),rgba(255, 0, 0, 0));

			position: absolute;

			width: 100%;

			height:100%;

			opacity: 0.4;

			

		}

		

		.achivement {

			font-family: myraid;

			padding-left: 3px;

			left: -200px;

			top: 92px;

			padding-top: 6px;

			position: absolute;

			width: 150px;

			height: 45px;

			opacity: 0;

			border: 2px solid white;

			background: transparent;

			color: white;

			border-radius: 16px;

			z-index: 400;

			

		}

		#ach {

			font-size: 15px;

			padding-left: 3px;

			margin-top: 2px;

		}

		#ach_type {

			font-size: 12px;

			padding-left: 5px;

			margin-top: 1px;

		}

		@-webkit-keyframes achive {

			0%{top:28px; 	left:-200px; opacity: 0;}

			14%{top:28px;	left:28px;   opacity: 1;}

			

			90% {top:28px;	left:28px;   opacity: 1;}

			95% {top:-25px;	left:28px;   opacity: 0.5;}

			100%{top:-100px; left:28px;  opacity: 0;}

		}

		@-webkit-keyframes achive_circle {

			0%{	opacity: 0;}

			10%{	opacity: 0;}

			20%{	opacity: 1;}

			

			90%{	opacity: 1;}

			100%{	opacity: 0;}



		}

		#small_circle {

			position: absolute;

			width: 7px;

			height: 7px;

			border-radius: 140px;

			border: 1px solid white;

			left: 12px;

			top: 51px;

			z-index: 999;

			opacity: 0;

		}

		#povratak	{

			width: 76px;

			height: 16px;

			position: absolute;

			right: 39px;

			bottom: 39px;

		}

		#povratak1, #povratak2	{

			width: 76px;

			height: 16px;

			position: absolute;

			right: 39px;

			bottom: 39px;

		}

		#povratak:hover, #povratak1:hover,  #povratak2:hover {

			cursor: pointer;

		}

		.pov {

			height: 12px;

			width: 12px;

			border-radius: 150px;

			background: none;

			float: left;

			margin-left: 7px;

			position: relative;



		}

		#jedan, #jedan1, #jedan2 {

			border:2px solid  rgb(114, 77, 106);

			opacity: 0;

			transition:all 1s;

		}

		#dva,#dva1, #dva2{

			border:2px solid  #ffbb3f;

			opacity: 0;

			transition:all 1s;

		}

		#tri,#tri1, #tri2 {

			border:2px solid  gray;

			opacity: 0;

			transition:all 1s;

		}

		@-webkit-keyframes zbogom {

			0%{left:0px;}

			100%{left:200px;}

		}



		#putanje	{

			position: absolute;

			width: 578px;

			height: 578px;

			left: 218px;



		}

		#put_html {

			border-radius: 400px;

			border: 1px solid white;

			width: 116px;

			height: 116px;

			top: 229px;

			position: absolute;

			left: 229px;

			opacity: 0;

		}



		#put_css {

			border-radius: 400px;

			border: 1px solid white;

			width: 221px;

			height: 221px;

			top: 178px;

			position: absolute;

			left: 177px;

			opacity: 0;

		}



		#put_java {

			border-radius: 400px;

			border: 1px solid white;

			width: 326px;

			height: 326px;

			top: 125px;

			position: absolute;

			left: 125px;

			opacity: 0;

		}

		#put_jq {

			border-radius: 400px;

			border: 1px solid white;

			width: 45px;

			height: 46px;

			top: -3px;

			position: absolute;

			left: 160px;

			opacity: 0;

		}

		#put_php {

			border-radius: 11400px;

			border: 1px solid white;

			width: 450px;

			height: 453px;

			top: 61px;

			position: absolute;

			left: 63px;

			opacity: 0;

		}

		#put_mysql {

			border-radius: 11400px;

			border: 1px solid white;

			width: 577px;

			height: 577px;

			top: 0px;

			position: absolute;

			left: 0px;

			opacity: 0;

		}



		#ht, #cs, #js, #jq, #ph, #my, #fronte, #backe {

			opacity: 0;

			transition:color 0.3s;	

		}

		.put_info {

		color: white;

		position: absolute;

		left: 49%;

		font-size: 14px;

		top: -20px;

		width: 20px;

			

		height: 14px;

		font-family: myraid;

		}

		#info_put_jq{

			font-size: 10px;

		}

		#fronte:hover, #backe:hover {

			cursor:pointer;

			transition:color 0.3s;

		}

		#senkad_poz {

			left: 737px;

			top: -209px;

			background: gray;

			z-index: -1;

			transition:all 0s;

		}



		#nema_pravila {

			float: left;

			width: 260px;

			height: 440px;

			overflow-y: scroll;

			position: relative;

			z-index: 10;

			left: 52px;

			background: rgba(0, 0, 0, 0.35);

			top: 100px;

			padding-left: 10px;

			padding-top: 10px;

			opacity: 0;





		}

		#pravilo_je {

			background-image: url("grid16.png");

			opacity: 0.1;

			border: 1px solid white;

			float: left;

			width: 600px;

			height: 500px;

			position: absolute;

			left: 369px;

			top: 99px;

		}

		.elementi_porta {

			position: relative;

			float: left;

			width: 250px;

			height: 160px;

			margin-right: 50px;

			margin-bottom: 30px;

			overflow: hidden;



		}



		.elementi_porta:hover {

			cursor: pointer;

			



		}

		#podmeni {

			position: relative;

			background: black;

			color: white;

			width: 100%;

			height: 30%;

			top:160px;

			z-index: 10;

		}

		#nema_pravila::-webkit-scrollbar { 

    	display: none; 

		}

		#prvak	{

			background-image:  url("zoharica_slika.JPG");

			background-size: 250px 160px;

			opacity: 1;

			

		}

		#drugak	{

			background-image:  url("portfolio_slika.JPG");

			background-size: 250px 160px;

			opacity: 0.7;

			

		}

		#trecak	{

			background-image:  url("ckica_slika.JPG");

			background-size: 250px 160px;

			opacity: 0.7;

			

		}

		#opis {

			width: 600px;

			height: 450px;

			left: 100px;

			top: 100px;

			color: black;

			float: left;

			position: relative;

			background: white;

			font-family: myraid;

		

			opacity: 0;

		}

		.opis_tekst	{

			font-family: myraid;

			padding: 10px 25px;

			font-size: 15px;

			line-height: 24px;





		}

		#opis_naslov {

			margin-left: 24px;

			border-bottom: 5px solid rgb(180, 179, 176);

		}

		#opis a {

			margin-left: 25px;

		}

		#upinf_lev {

			margin-top: 10px;

			list-style-type: none;

			font-size: 17px;

			

			padding: 0px;

			margin-left: 0px;

			float: left;

			width: 36%;

			height: 100px;

		}

		.inf1_lev {

			margin-top: 19px;

		}

		.inf2_lev {

			margin-top: 9px;

		}



		#upinf_des {

			margin-left: 9px;

			list-style-type: none;

			font-size: 17px;

			margin-top: 10px;

			padding: 0px;

			

			float: left;

			width: 55%;

			height: 100px;

		}